*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  align-self: center;
  inline-size: 1140px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
  margin-block-end: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
}

.title {
  display: inline-block;
  padding-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  max-width: 192px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding: 3px 0 0 2px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
