*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  gap: 30px;
  margin: 0 30px;
}

.result {
  padding-top: 78px;
  padding-bottom: 16px;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: center;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  border-right: none;
  border-top: 1px solid #fff;
  border-left: none;
  border-bottom: 1px solid #fff;
  color: currentColor;
  -webkit-flow-into: inherit;
  font-family: inherit;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: 400;
  color: inherit;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 21px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox {
  appearance: none;
}

.search-form__checkbox + .search-form__pseudo-checkbox{
  display: block;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  display: block;
  margin: 1px;
}

.search-form__label-text {
  font-weight: 400;
}

.button {
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  min-height: 34px;
  align-self: end;
}

.content__details {
  inline-size: 100%;
  inline-size: 100%;
}

.title {
  display: inline-block;
  padding-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 69px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link-current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__list-item:not(:last-child) {
  margin-block-end: 29px;
}

.content__video-card-description-container {
  flex: 1;
  padding: 2px 0 0 2px;
}

.content__video-card-title {
  max-width: 192px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  display: block;
  inline-size: 194px;
  block-size: 103px;
  padding: 1px 1px 1px 0;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
  margin-bottom: 2px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.search-form__textfield:active {
  border-inline: 1px solid currentColor;
}

.button:active {
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:focus {
  outline: none;
}

.button:focus {
  outline: none;
}

.content__card-link:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.search-form__lable:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:has(:focus-visible) {
  outline: 1px solid #fff;
}