*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  align-self: center;
  inline-size: 1140px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
}

.content__details {
  block-size: 100%;
  inline-size: 100%;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding: 3px 0 0 2px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
