*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  gap: 30px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  inline-size: fit-content;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  border-right: none;
  border-top: 1px solid #fff;
  border-left: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  -webkit-flow-into: inherit;
  font-family: inherit;
  background-color: transparent;
  inline-size: 225px;
  block-size: 27px;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: 400;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 21px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox {
  appearance: none;
}

.search-form__checkbox + .search-form__pseudo-checkbox{
  display: block;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  display: block;
  margin: 1px;
}

.search-form__label-text {
  font-weight: 400;
}

.button {
  inline-size: 194px;
  block-size: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  min-inline-size: 399px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  line-height: 92%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card-description-container {
  flex: 1;
  padding: 2px 0 0 2px;
}

.content__video-card-title {
  max-width: 192px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  display: block;
  inline-size: 194px;
  block-size: 103px;
  padding: 1px 1px 1px 0;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.search-form__textfield:active {
  border-inline: 1px solid currentColor;
}

.button:active {
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:focus {
  outline: none;
}

.button:focus {
  outline: none;
}

.content__card-link:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.search-form__lable:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}